<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= recipe.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <header>
        <h1>My Recipe Site</h1>
        <nav class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="/recipes">Recipes</a>
            <a class="link" href="/add-recipe">Add Recipe</a>
        </nav>
    </header>
    <div class="container">
        <h1><%= recipe.title %></h1>
        <p><%= recipe.description %></p>
        <h3>Ingredients:</h3>
        <ul>
            <% ingredients.forEach(ingredient => { %>
                <li class="ingredient" data-info="<%= ingredient.description %>"><%= ingredient.name %></li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
